snippet pregm "preg_match ... " w
if(1 == preg_match(${1:"//i"}, ${2:$subject}, ${3:$matches} /* PREG_OFFSET_CAPTURE, $offset=0 */)) {
	${4:$fullmatch} = $3[0];
	${5:$parenthesized} = $3[1];  
	${0:${VISUAL}}
}
endsnippet
snippet pregr "preg_replace ..." w
${1:$replaced} = preg_replace(${2:"//i"}, ${3:''}, ${4:$subject}/*, $limit = -1, &$count */);
endsnippet
